.container {
  width: 95%;
  height: auto;
  clear: both;
  margin: 0 auto;
  position: relative; }

.container-fluid {
  width: 100%;
  height: auto;
  clear: both;
  margin: 0 auto;
  position: relative; }

.container-fix {
  width: 1200px;
  height: auto;
  clear: both;
  margin: 0 auto;
  position: relative; }

.row {
  width: 100%;
  display: inline-block;
  clear: both; }

.block1,
.block2,
.block3,
.block2-2 {
  width: 100%;
  min-height: 20px;
  float: left;
  position: relative;
  display: inline-block;
  vertical-align: top; }
  .block1 img,
  .block2 img,
  .block3 img,
  .block2-2 img {
    width: 100%; }

@media (max-width: 75em) {
  .container-fix {
    width: 100%; } }
@media (min-width: 50.063em) {
  .block1 {
    width: 31.69%;
    min-height: 20px;
    float: left;
    position: relative;
    display: inline-block;
    vertical-align: top; }
    .block1 img {
      width: 100%; }

  .block1:nth-of-type(1n + 2) {
    margin-left: 2.4555%; }

  .block2 {
    width: 65.81%;
    min-height: 20px;
    float: left;
    position: relative;
    display: inline-block;
    vertical-align: top; }
    .block2 img {
      width: 100%; }

  .block2:nth-of-type(2n + 2) {
    margin-left: 2.4555%; }

  .block3 {
    width: 100%;
    min-height: 20px;
    float: left;
    position: relative;
    display: inline-block;
    vertical-align: top; }
    .block3 img {
      width: 100%; }

  .block3:nth-of-type(3n + 2) {
    margin-left: 2.4555%; }

  .block2-2 {
    width: 48.769%;
    min-height: 20px;
    float: left;
    position: relative;
    display: inline-block;
    vertical-align: top; }
    .block2-2 img {
      width: 100%; }

  .block2-2:nth-of-type(1n + 2) {
    margin-left: 2.4555%; }

  .block1.begin,
  .block2.begin,
  .block3.begin,
  .block2-2.begin {
    margin-left: 0%; }

  .block1.middle {
    left: 34.1%; }

  .block2.middle {
    left: 17.1%; }

  .block3.middle {
    left: 17.666%; }

  .block2-2.middle {
    left: 25.5333%; } }
.hide-mobile, .show-desktop {
  display: none; }

.show-mobile {
  display: block; }

@media (min-width: 50.063em) {
  .hide-desktop {
    display: none; }

  .show-desktop, .hide-mobile {
    display: block; } }
input[type="submit"],
input[type="reset"],
button {
  border: 2px solid #95a5a6;
  background: #95a5a6;
  border-radius: 2px;
  margin-top: 3px;
  padding: 5px 8px 5px 8px;
  font-size: 16px;
  font-weight: bold;
  color: #ecf0f1;
  cursor: pointer;
  display: inline-block; }
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  button:hover {
    background: #bdc3c7;
    border-color: #bdc3c7;
    color: white; }

input[type="submit"].bt-yellow,
input[type="reset"].bt-yellow,
button.bt-yellow {
  border-color: #f39c12;
  background: #f39c12; }
  input[type="submit"].bt-yellow:hover, input[type="submit"].bt-yellow:focus, input[type="submit"].bt-yellow:active,
  input[type="reset"].bt-yellow:hover,
  input[type="reset"].bt-yellow:focus,
  input[type="reset"].bt-yellow:active,
  button.bt-yellow:hover,
  button.bt-yellow:focus,
  button.bt-yellow:active {
    border-color: #f1c40f;
    background: #f1c40f; }

.bt-yellow {
  border-radius: 2px;
  margin-top: 3px;
  padding: 5px 8px 5px 8px;
  font-size: 16px;
  font-weight: bold;
  color: #ecf0f1;
  cursor: pointer;
  display: inline-block;
  border-color: #f39c12;
  background: #f39c12; }
  .bt-yellow:hover, .bt-yellow:focus, .bt-yellow:active {
    color: white;
    border-color: #f1c40f;
    background: #f1c40f; }

input[type="submit"].bt-red,
input[type="reset"].bt-red,
button.bt-red {
  border-color: #c0392b;
  background: #c0392b; }
  input[type="submit"].bt-red:hover, input[type="submit"].bt-red:focus, input[type="submit"].bt-red:active,
  input[type="reset"].bt-red:hover,
  input[type="reset"].bt-red:focus,
  input[type="reset"].bt-red:active,
  button.bt-red:hover,
  button.bt-red:focus,
  button.bt-red:active {
    border-color: #e74c3c;
    background: #e74c3c; }

.bt-red {
  border-radius: 2px;
  margin-top: 3px;
  padding: 5px 8px 5px 8px;
  font-size: 16px;
  font-weight: bold;
  color: #ecf0f1;
  cursor: pointer;
  display: inline-block;
  border-color: #c0392b;
  background: #c0392b; }
  .bt-red:hover, .bt-red:focus, .bt-red:active {
    color: white;
    border-color: #e74c3c;
    background: #e74c3c; }

input[type="submit"].bt-disabled,
input[type="reset"].bt-disabled,
button.bt-disabled {
  border-color: #bdc3c7;
  background: #bdc3c7; }
  input[type="submit"].bt-disabled:hover, input[type="submit"].bt-disabled:focus, input[type="submit"].bt-disabled:active,
  input[type="reset"].bt-disabled:hover,
  input[type="reset"].bt-disabled:focus,
  input[type="reset"].bt-disabled:active,
  button.bt-disabled:hover,
  button.bt-disabled:focus,
  button.bt-disabled:active {
    color: #ecf0f1;
    cursor: default;
    border-color: #bdc3c7;
    background: #bdc3c7; }

.bt-disabled {
  border-radius: 2px;
  margin-top: 3px;
  padding: 5px 8px 5px 8px;
  font-size: 16px;
  font-weight: bold;
  color: #ecf0f1;
  cursor: pointer;
  display: inline-block;
  border-color: #bdc3c7;
  background: #bdc3c7; }
  .bt-disabled:hover, .bt-disabled:focus, .bt-disabled:active {
    color: #ecf0f1;
    border-color: #bdc3c7;
    background: #bdc3c7;
    cursor: default; }

input[type="submit"].bt-green,
input[type="reset"].bt-green,
button.bt-green {
  border-color: #27ae60;
  background: #27ae60; }
  input[type="submit"].bt-green:hover, input[type="submit"].bt-green:focus, input[type="submit"].bt-green:active,
  input[type="reset"].bt-green:hover,
  input[type="reset"].bt-green:focus,
  input[type="reset"].bt-green:active,
  button.bt-green:hover,
  button.bt-green:focus,
  button.bt-green:active {
    border-color: #2ecc71;
    background: #2ecc71; }

.bt-green {
  border-radius: 2px;
  margin-top: 3px;
  padding: 5px 8px 5px 8px;
  font-size: 16px;
  font-weight: bold;
  color: #ecf0f1;
  cursor: pointer;
  display: inline-block;
  border-color: #27ae60;
  background: #27ae60; }
  .bt-green:hover, .bt-green:focus, .bt-green:active {
    color: white;
    border-color: #2ecc71;
    background: #2ecc71; }

input[type="submit"].bt-dark,
input[type="reset"].bt-dark,
button.bt-dark {
  border-color: #2c3e50;
  background: #2c3e50; }
  input[type="submit"].bt-dark:hover, input[type="submit"].bt-dark:focus, input[type="submit"].bt-dark:active,
  input[type="reset"].bt-dark:hover,
  input[type="reset"].bt-dark:focus,
  input[type="reset"].bt-dark:active,
  button.bt-dark:hover,
  button.bt-dark:focus,
  button.bt-dark:active {
    border-color: #34495e;
    background: #34495e; }

.bt-dark {
  border-radius: 2px;
  margin-top: 3px;
  padding: 5px 8px 5px 8px;
  font-size: 16px;
  font-weight: bold;
  color: #ecf0f1;
  cursor: pointer;
  display: inline-block;
  border-color: #2c3e50;
  background: #2c3e50; }
  .bt-dark:hover, .bt-dark:focus, .bt-dark:active {
    color: white;
    border-color: #34495e;
    background: #34495e; }

input[type="submit"].bt-blue,
input[type="reset"].bt-blue,
button.bt-blue {
  border-color: #3498db;
  background: #3498db; }
  input[type="submit"].bt-blue:hover, input[type="submit"].bt-blue:focus, input[type="submit"].bt-blue:active,
  input[type="reset"].bt-blue:hover,
  input[type="reset"].bt-blue:focus,
  input[type="reset"].bt-blue:active,
  button.bt-blue:hover,
  button.bt-blue:focus,
  button.bt-blue:active {
    border-color: #2e8ece;
    background: #2e8ece; }

.bt-blue {
  border-radius: 2px;
  margin-top: 3px;
  padding: 5px 8px 5px 8px;
  font-size: 16px;
  font-weight: bold;
  color: #ecf0f1;
  cursor: pointer;
  display: inline-block;
  border-color: #3498db;
  background: #3498db; }
  .bt-blue:hover, .bt-blue:focus, .bt-blue:active {
    border-color: #2e8ece;
    background: #2e8ece; }

input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

form {
  width: 98%;
  display: inline-block;
  clear: both; }

input[type="text"] {
  width: 98%;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-top: 3px;
  background: #e8e8e8;
  padding: 8px 6px 8px 6px;
  outline: none; }
  input[type="text"]:focus, input[type="text"]:hover {
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }
  input[type="text"]:disabled {
    color: #9c9c9c;
    border: 2px solid #9c9c9c;
    background: #cfcfcf;
    outline: none; }

input[type="color"] {
  width: 98%;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-top: 3px;
  background: #e8e8e8;
  padding: 8px 6px 8px 6px;
  outline: none; }
  input[type="color"]:focus, input[type="color"]:hover {
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }
  input[type="color"]:disabled {
    color: #9c9c9c;
    border: 2px solid #9c9c9c;
    background: #cfcfcf;
    outline: none; }

input[type="date"] {
  width: 98%;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-top: 3px;
  background: #e8e8e8;
  padding: 8px 6px 8px 6px;
  outline: none; }
  input[type="date"]:focus, input[type="date"]:hover {
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }
  input[type="date"]:disabled {
    color: #9c9c9c;
    border: 2px solid #9c9c9c;
    background: #cfcfcf;
    outline: none; }

input[type="datetime"] {
  width: 98%;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-top: 3px;
  background: #e8e8e8;
  padding: 8px 6px 8px 6px;
  outline: none; }
  input[type="datetime"]:focus, input[type="datetime"]:hover {
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }
  input[type="datetime"]:disabled {
    color: #9c9c9c;
    border: 2px solid #9c9c9c;
    background: #cfcfcf;
    outline: none; }

input[type="datetime-local"] {
  width: 98%;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-top: 3px;
  background: #e8e8e8;
  padding: 8px 6px 8px 6px;
  outline: none; }
  input[type="datetime-local"]:focus, input[type="datetime-local"]:hover {
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }
  input[type="datetime-local"]:disabled {
    color: #9c9c9c;
    border: 2px solid #9c9c9c;
    background: #cfcfcf;
    outline: none; }

input[type="email"] {
  width: 98%;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-top: 3px;
  background: #e8e8e8;
  padding: 8px 6px 8px 6px;
  outline: none; }
  input[type="email"]:focus, input[type="email"]:hover {
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }
  input[type="email"]:disabled {
    color: #9c9c9c;
    border: 2px solid #9c9c9c;
    background: #cfcfcf;
    outline: none; }

input[type="file"] {
  width: 98%;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-top: 3px;
  background: #e8e8e8;
  padding: 8px 6px 8px 6px;
  outline: none; }
  input[type="file"]:focus, input[type="file"]:hover {
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }
  input[type="file"]:disabled {
    color: #9c9c9c;
    border: 2px solid #9c9c9c;
    background: #cfcfcf;
    outline: none; }

input[type="image"] {
  width: 98%;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-top: 3px;
  background: #e8e8e8;
  padding: 8px 6px 8px 6px;
  outline: none; }
  input[type="image"]:focus, input[type="image"]:hover {
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }
  input[type="image"]:disabled {
    color: #9c9c9c;
    border: 2px solid #9c9c9c;
    background: #cfcfcf;
    outline: none; }

input[type="month"] {
  width: 98%;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-top: 3px;
  background: #e8e8e8;
  padding: 8px 6px 8px 6px;
  outline: none; }
  input[type="month"]:focus, input[type="month"]:hover {
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }
  input[type="month"]:disabled {
    color: #9c9c9c;
    border: 2px solid #9c9c9c;
    background: #cfcfcf;
    outline: none; }

input[type="number"] {
  width: 98%;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-top: 3px;
  background: #e8e8e8;
  padding: 8px 6px 8px 6px;
  outline: none; }
  input[type="number"]:focus, input[type="number"]:hover {
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }
  input[type="number"]:disabled {
    color: #9c9c9c;
    border: 2px solid #9c9c9c;
    background: #cfcfcf;
    outline: none; }

input[type="password"] {
  width: 98%;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-top: 3px;
  background: #e8e8e8;
  padding: 8px 6px 8px 6px;
  outline: none; }
  input[type="password"]:focus, input[type="password"]:hover {
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }
  input[type="password"]:disabled {
    color: #9c9c9c;
    border: 2px solid #9c9c9c;
    background: #cfcfcf;
    outline: none; }

input[type="radio"] {
  width: 98%;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-top: 3px;
  background: #e8e8e8;
  padding: 8px 6px 8px 6px;
  outline: none; }
  input[type="radio"]:focus, input[type="radio"]:hover {
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }
  input[type="radio"]:disabled {
    color: #9c9c9c;
    border: 2px solid #9c9c9c;
    background: #cfcfcf;
    outline: none; }

input[type="search"] {
  width: 98%;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-top: 3px;
  background: #e8e8e8;
  padding: 8px 6px 8px 6px;
  outline: none; }
  input[type="search"]:focus, input[type="search"]:hover {
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }
  input[type="search"]:disabled {
    color: #9c9c9c;
    border: 2px solid #9c9c9c;
    background: #cfcfcf;
    outline: none; }

input[type="tel"] {
  width: 98%;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-top: 3px;
  background: #e8e8e8;
  padding: 8px 6px 8px 6px;
  outline: none; }
  input[type="tel"]:focus, input[type="tel"]:hover {
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }
  input[type="tel"]:disabled {
    color: #9c9c9c;
    border: 2px solid #9c9c9c;
    background: #cfcfcf;
    outline: none; }

input[type="time"] {
  width: 98%;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-top: 3px;
  background: #e8e8e8;
  padding: 8px 6px 8px 6px;
  outline: none; }
  input[type="time"]:focus, input[type="time"]:hover {
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }
  input[type="time"]:disabled {
    color: #9c9c9c;
    border: 2px solid #9c9c9c;
    background: #cfcfcf;
    outline: none; }

input[type="url"] {
  width: 98%;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-top: 3px;
  background: #e8e8e8;
  padding: 8px 6px 8px 6px;
  outline: none; }
  input[type="url"]:focus, input[type="url"]:hover {
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }
  input[type="url"]:disabled {
    color: #9c9c9c;
    border: 2px solid #9c9c9c;
    background: #cfcfcf;
    outline: none; }

input[type="week"] {
  width: 98%;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-top: 3px;
  background: #e8e8e8;
  padding: 8px 6px 8px 6px;
  outline: none; }
  input[type="week"]:focus, input[type="week"]:hover {
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }
  input[type="week"]:disabled {
    color: #9c9c9c;
    border: 2px solid #9c9c9c;
    background: #cfcfcf;
    outline: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline; }

input[type="range"] {
  width: 100%;
  border: none; }

select,
textarea {
  width: 98%;
  display: inline-block;
  border: 1px solid #e8e8e8;
  border-radius: 2px;
  margin-top: 3px;
  background: #e8e8e8;
  padding: 8px 6px 8px 6px;
  outline: none; }

select {
  color: #6a6a6a;
  width: 100.4%; }
  select:focus, select:hover {
    width: 99.6666%;
    display: inline-block;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    margin-top: 3px;
    background: #e8e8e8;
    padding: 8px 6px 8px 6px;
    outline: none;
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }

textarea {
  height: 100px; }
  textarea:focus, textarea:hover {
    width: 98%;
    display: inline-block;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    margin-top: 3px;
    background: #e8e8e8;
    padding: 8px 6px 8px 6px;
    outline: none;
    border: 1px solid #cfcfcf;
    transition: border .6s;
    -o-transition: border .6s;
    -moz-transition: border .6s;
    -webkit-transition: border .6s; }
