.container {
  width: 95%;
  height: auto;
  clear: both;
  margin: 0 auto;
  position: relative; }

.row {
  width: 100%;
  display: inline-block;
  clear: both; }

.block {
  width: 100%;
  min-height: 20px;
  float: left;
  position: relative;
  display: inline-block;
  vertical-align: top; }
  .block img {
    width: 100%; }
