// Helpers
// - Helper for grids
@mixin grid {
	min-height: 20px;
	float: left;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

// - Helper for Containers
@mixin container {
	height: auto;
	clear: both;
	margin: 0 auto;
	position: relative;
}

// - Helper full width image
@mixin fullimg {
	img {
		width: 100%;
	}
}