// ************************************************
// Scrath Framework   
// ************************************************


@import "var-framework";

// ************************************************

// Container Fluid with borders
.container {
	width: 95%;
	@include container;
}

// Container Fluid full Width
.container-fluid {
	width: 100%;
	@include container;
}

// Container Fixed -- but responsive
.container-fix {
	width: 1200px;
	@include container;
}

// The Rows
.row {
	width: 100%;
	display: inline-block;
	clear: both;
}

// Blocks
.block1, 
.block2, 
.block3, 
.block2-2  {
	width: 100%;
	@include grid;
	@include fullimg;
}