// ************************************************
// Scrath Framework   
// ************************************************


@import "var-framework";

// ************************************************

// Container Fluid with borders
.container {
	width: 95%;
	@include container;
}

// The Rows
.row {
	width: 100%;
	display: inline-block;
	clear: both;
}

// Blocks
.block {
	width: 100%;
	@include grid;
	@include fullimg;
}